var config = {};

<!-- cloud mongo start  -->
<!-- config.MongoDb=''; -->
<!-- config.user=''; -->
<!-- config.password=''; -->
<!-- cloud mongo end  -->

<!-- local mongo start  -->
config.MongoDb="mongodb://localhost/mydb";
<!-- local mongo end  -->

<!-- Authentication Start -->
config.Authentication = false;
config.audience = '';
<!-- Authentication End -->


module.exports = config;